<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="top-strip"></div>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <h1>
                    {{ site.title }} <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ site.description }}{% if site.twitter_hashtag %} #{{ site.twitter_hashtag }}{% endif %}" data-show-count="false" style="font-size:13px;">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <iframe src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
                  </h1>
                </div>
                <div class="meta col-xs-12">
                  {{ site.description }}.
                  To add/update a conference, <a target="_blank" href="//github.com/{{ site.github_username }}/{{ site.github_repo }}">send in a pull request</a>.
                </div>
            </div>
            <br>
            <div class="row">
              <form class="container">
                <div class="row justify-content-center">
                  <div class="row align-items-md-center col-12 col-10-md">
                    <div class="col-12 col-md-5 filter-label">
                      <label for="subject-select" class="align-center" style="margin-bottom: 0px; line-height: 1.5;">
                        Subject Filter:
                      </label>
                    </div>
                    <div class="col-12 col-md-6">
                      <select
                        id="subject-select"
                        name="subject-select"
                        multiple="multiple"
                        style="display: none"
                      >
                        {% for type in site.data.types %}
                        {% unless type.sub == 'CON' or type.sub == 'WP' or type.sub == 'IND' or type.sub == 'JRN' %}
                        <option value="{{type.sub}}" id="{{type.sub}}-checkbox">
                          {{type.name}} ({{type.sub}})
                        </option>
                        {% endunless %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="meta col-12">
                <span class="local-timezone-hide">
                  Deadlines are shown in <span class="local-timezone">America/New_York</span> time.
                  To view them in conference website timezones, click on them.
                </span>
              </div>
              <div class="meta col-12">
                You can optionally export all deadlines to
                <a href="https://calendar.google.com/calendar/r?cid={{ site.url }}{{ '/ai-deadlines.ics' | relative_url }}">Google Calendar</a> or
                <a href="{{ '/ai-deadlines.ics' | relative_url }}">.ics</a>.
              </div>
            </div>
        </div>
        <div id="conferences">
          <div id="coming_confs">
            {% for conf in site.data.conferences %}
            <div id="{{conf.id}}" class="conference-item {% for sub in conf.sub %} {{sub}}-conf {% endfor %}">
              <div class="row conf-row">
                  <div class="col-xs-5 col-sm-6">
                      <a class="conf-title" href="{{ site.baseurl }}/conference?id={{ conf.id }}">{{conf.title}} {{conf.year}}</a>
                      {% if conf.full_name %}
                      <div class="conf-fullname small">{{conf.full_name}}</div>
                      {% endif %}
                  </div>
                  <div class="col-xs-7 col-sm-6 text-right">
                    <span class="timer"></span>
                  </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="meta">
                    <div class="conf-meta-line">
                      <span class="conf-date">{{conf.date}}.</span>
                    </div>
                    <div class="conf-location">
                      <i>📍</i>
                      <a href="http://maps.google.com/?q={{conf.place}}">{{conf.place}}</a>
                    </div>
                    
                    <div class="conf-meta-details">
                      {% if conf.start and conf.end %}
                      <div class="conf-dates small">
                        <span class="conf-start">Start: {{conf.start}}.</span>
                        <span class="conf-end">End: {{conf.end}}.</span>
                      </div>
                      {% endif %}
                      
                      {% if conf.hindex %}
                      <div class="conf-hindex small">H-index: <strong>{{conf.hindex}}</strong></div>
                      {% endif %}
                    </div>
                  </div>
                  
                  {% if conf.note %}
                  <div class="note">
                    {{conf.note}}
                  </div>
                  {% endif %}
                  
                  {% if conf.paperslink or conf.pwclink %}
                  <div class="conf-links small">
                    {% if conf.paperslink %}
                    <a href="{{conf.paperslink}}" target="_blank">Papers</a>
                    {% endif %}
                    {% if conf.paperslink and conf.pwclink %} | {% endif %}
                    {% if conf.pwclink %}
                    <a href="{{conf.pwclink}}" target="_blank">PWC</a>
                    {% endif %}
                  </div>
                  {% endif %}
                </div>
                
                <div class="col-xs-12 col-sm-6">
                  <div class="deadline-container">
                    <div class="deadline">
                      <div><strong>Deadline:</strong>
                        <span class="deadline-time"></span>
                      </div>
                      {% if conf.abstract_deadline %}
                      <div class="abstract-deadline small">
                        Abstract Deadline: <span class="abstract-deadline-time" data-deadline="{{conf.abstract_deadline}}"></span>
                      </div>
                      {% endif %}
                      <div class="calendar mt-2"></div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-xs-12">
                  <span title="Click to only show {{conf.sub}} conferences" data-sub="{{conf.sub}}" class="conf-sub"></span>
                </div>
              </div>
              <hr>
            </div>
            {% endfor %}
          </div>
          <div id="past_confs">
            <h1 id="past-events-title" style="display:none;">Past Events</h1>
            <div id="sort-order-checkbox" style="display:none;">
              <label for="sort-order"><input type="checkbox" id="sort-order" name="sort-order" checked>Most recent first</label>
            </div>
          </div>
        </div>
        <footer>
          <a href="/">{{ site.domain }}</a> is maintained by <a href="https://dsfsi.github.io">Data Science for Social Impact @ UP</a>.<br>
Join the MLDS Africa <a target="_blank" href="https://groups.google.com/d/forum/mlds-africa">Mailing List</a>.        
      </footer>
        <br><br>
    </div>
    <script type="text/javascript" charset="utf-8">
    $(function() {
        // Make sure this is >= no. of subs
        // Currently not used
        var colors = ['#341f97', '#ee5253', '#2e86de',
                      '#ff9f43', '#10ac84', '#222f3e']

        // Borrowed from https://github.com/moment/moment-timezone/issues/167
        // Adds support for time zones 'UTC-12'..'UTC+12'
        function addUtcTimeZones() {
          // Moment.js uses the IANA timezone database, which supports generic time zones like 'Etc/GMT+1'.
          // However, the signs for these time zones are inverted compared to ISO 8601.
          // For more details, see https://github.com/moment/moment-timezone/issues/167
          for (let offset = -12; offset <= 12; offset++) {
            const posixSign = offset <= 0 ? '+' : '-';
            const isoSign = offset >= 0 ? '+' : '-';
            const link = `Etc/GMT${posixSign}${Math.abs(offset)}|UTC${isoSign}${Math.abs(offset)}`;
            moment.tz.link(link);
          }
        }
        
        // Helper function to get timezone with fallback
        function getSafeTimezone(timezone) {
          if (!timezone) return "America/New_York";
          
          // Convert GMT+X format to UTC+X format
          if (timezone.startsWith("GMT")) {
            timezone = timezone.replace("GMT", "UTC");
          }
          
          // Check if it's a UTC timezone
          if (timezone.startsWith("UTC")) {
            return timezone;
          }
          
          try {
            // Test if the timezone is valid
            moment.tz(timezone);
            return timezone;
          } catch (e) {
            console.warn(`Invalid timezone: ${timezone}, falling back to UTC`);
            return "UTC";
          }
        }
        
        addUtcTimeZones();

        try {
          var local_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
          $('.local-timezone').text(local_timezone.toString());
        }
        catch(err) {
          $('.local-timezone-hide').hide();
        }

        // Get all subs
        var conf_type_data = {{ site.data.types | jsonify }};
        var all_subs = [];
        var sub2name = {}; var name2sub = {};
        for (var i = 0; i < conf_type_data.length; i++) {
          all_subs[i] = conf_type_data[i]['sub'];
          sub2name[conf_type_data[i]['sub']] = conf_type_data[i]['name'];
          name2sub[conf_type_data[i]['name']] = conf_type_data[i]['sub'];
        }

        {% for conf in site.data.conferences %}
        {% if conf.deadline == "TBA" %}
          $('#{{conf.id}} .timer').html("TBA");
          $('#{{conf.id}} .deadline-time').html("TBA");
        {% elsif conf.deadline %}
          // adjust date according to deadline timezone
          var timezone = getSafeTimezone("{{conf.timezone | default: 'UTC'}}");
          var confDate = moment.tz("{{conf.deadline}}", timezone);

          // render countdown timer
          $('#{{conf.id}} .timer').countdown(confDate.toDate(), function(event) {
            $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
          });
          
          // convert deadline to local timezone
          try {
            var localConfDate = moment.tz(confDate, local_timezone);
            $('#{{conf.id}} .deadline-time').html(localConfDate.toString());
          }
          catch(err) {
            console.log("Error converting to local timezone for {{conf.id}}:", err);
            $('#{{conf.id}} .deadline-time').html(confDate.toString());
          }
          
          // handle abstract deadline if available
          {% if conf.abstract_deadline %}
          var abstractTimezone = getSafeTimezone("{{conf.timezone | default: 'UTC'}}");
          var abstractDate = moment.tz("{{conf.abstract_deadline}}", abstractTimezone);
          $('#{{conf.id}} .abstract-deadline-time').html(abstractDate.toString());
          {% endif %}

          // add calendar button
          var myCalendar = createCalendar({
            options: {
              class: 'calendar-obj',

              // You can pass an ID. If you don't, one will be generated for you
              id: '{{conf.id}}'
            },
            data: {
              // Event title
              title: '{{conf.title}} {{conf.year}} deadline',

              // Event start date
              start: confDate.toDate(), // new Date('June 15, 2013 19:00'),

              // Event duration
              duration: 60,
            }
          });
          document.querySelector('#{{conf.id}} .calendar').appendChild(myCalendar);
          var subjectName = sub2name["{{conf.sub}}"];
          $('#{{conf.id}} .conf-sub').html(subjectName ? subjectName.toLocaleLowerCase() : "{{conf.sub}}");

          // check if date has passed, add 'past' class to it
          var today = moment();
          diff = today.diff(confDate);

          $('#{{conf.id}}').attr("diff", diff);
          if (diff > 0) {
            $('#{{conf.id}}').addClass('past');
            $('#{{conf.id}}').appendTo($("#past_confs"));
            $('#{{conf.id}} .timer').html("Past deadline");
            $('#{{conf.id}} .calendar').remove();
            $('#past-events-title').show();
            $('#sort-order-checkbox').show();
          }
        {% else %}
          // No deadline available
          $('#{{conf.id}} .timer').html("TBA");
          $('#{{conf.id}} .deadline-time').html("TBA");
        {% endif %}
        {% endfor %}

        // Sort coming_confs and past_confs
        $("#coming_confs .conference-item").sort(function (a, b) {
          return $(b).attr('diff') - $(a).attr('diff');
        }).appendTo($("#coming_confs"));

        $("#sort-order-checkbox input").on("click", function() {
          if ($("#sort-order-checkbox input").is(":checked")) {
            $("#past_confs .conference-item").sort(function (a, b) {
              return $(a).attr('diff') - $(b).attr('diff');
            }).appendTo($("#past_confs"));
          } else {
            $("#past_confs .conference-item").sort(function (a, b) {
              return $(b).attr('diff') - $(a).attr('diff');
            }).appendTo($("#past_confs"));
          }
        });

        // Initialize multiselect dropdown
        $("#subject-select").multiselect({
          includeSelectAllOption: true,
          numberDisplayed: 2,
          buttonWidth: '100%',
          maxHeight: 400,
          enableFiltering: true,
          enableCaseInsensitiveFiltering: true,
          filterPlaceholder: 'Search subjects...',
          onChange: function(option, checked, select) {
            var selectedSubs = $("#subject-select").val();
            if (!selectedSubs) selectedSubs = [];
            update_filtering({ subs: selectedSubs, all_subs: all_subs });
          },
          onSelectAll: function() {
            update_filtering({ subs: all_subs, all_subs: all_subs });
          },
          onDeselectAll: function() {
            update_filtering({ subs: [], all_subs: all_subs });
          }
        });

        // Helper function to update filtering
        function update_filtering(params) {
          var subs = params.subs;
          var all_subs = params.all_subs;
          
          // Hide all conferences first
          for (var i = 0; i < all_subs.length; i++) {
            $('.' + all_subs[i] + '-conf').hide();
          }
          
          // Show selected conferences
          for (var i = 0; i < subs.length; i++) {
            $('.' + subs[i] + '-conf').show();
          }
          
          // Update URL and store
          store.set('{{ site.domain }}', subs);
          if (subs.length > 0) {
            window.history.pushState('', '', '{{ site.baseurl }}/?sub=' + subs.join(','));
          } else {
            window.history.pushState('', '', '{{ site.baseurl }}/');
          }
        }

        // Get subjects from URL
        var url = new URL(window.location);
        var subs = url.searchParams.get('sub');
        if (subs == undefined) {
           subs = store.get('{{ site.domain }}');
        } else {
           subs = subs.toUpperCase().split(',');
        }
        // Get subjects from browser cache
        if (subs === undefined) {
          subs = all_subs;
          $("#subject-select").multiselect('selectAll', false);
        } else {
          $("#subject-select").multiselect('deselectAll', false);
          $("#subject-select").multiselect('select', subs, false);
        }
        
        // Apply initial filtering
        update_filtering({ subs: subs || all_subs, all_subs: all_subs });

        // Event handler on sub badge click
        $('.conf-sub').click(function (e) {
            var csub = $(this).data('sub');
            $("#subject-select").multiselect('deselectAll', false);
            $("#subject-select").multiselect('select', [csub], false);
            update_filtering({ subs: [csub], all_subs: all_subs });
        });
    });
    <!-- Google analytics -->
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.ga_id }}', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
